.home {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  position: absolute;
  font-size: 2rem;
  text-decoration: none;
}

.arrow-up { top: 10%; }
.arrow-left { left: 10%; }
.arrow-right { right: 10%; }
.arrow-down { bottom: 10%; }
